@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: var(--primary-font);
}

body,
html {
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--primary-font);
}

:root {
  --primary-font: "Raleway", sans-serif;
  --primary-color: #a9d0d1;
  --secundary-color: white;
}

/* Estilos generales */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: #a9d0d1;
}

.explicacion-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  width: 100%;
  height: 50vh; /* 50% del alto de la pantalla */
  margin-top: 0px;
  padding: 10px;
}

.explicacion-login h1 {
  font-weight: 800;
  color: white;
  margin-bottom: 20px; /* Aumenta el margen inferior */
  width: 100%;
}

.explicacion-login img {
  object-fit: cover;
  margin-top: 20px;
  width: 60%;
  max-width: 300px;
}

.login-section {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh; /* 50% del alto de la pantalla */
  padding: 20px;
  gap: 20px;
}

.login-form {
  width: 80%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.login-section h1 {
  font-weight: 600;
  font-size: 1.2rem;
  width: 100%;
  text-align: center;
  margin-top: 10px; /* Aumenta el margen inferior */
}

.login-section input {
  border: none;
  border-bottom: 1px solid gray;
  padding: 10px;
  width: 100%;
}

.buttons button {
  width: 100%;
  margin-top: 5px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-size: 1rem;
  color: white;
  font-weight: bold;
  margin-bottom: 10px;
}

#ingresar,
#registrarse {
  background-color: #a9d0d1;
}

#crear_cuenta {
  background-color: transparent;
  color: gray;
  text-decoration: underline;
}

.buttons {
  margin-top: 20px;
  width: 100%;
}

#ingresar:hover,
#registrarse:hover {
  background-color: #a5e2e4;
  cursor: pointer;
}

#crear_cuenta:hover {
  cursor: pointer;
}

/* Media Queries */
@media (min-width: 768px) {
  .container {
    flex-direction: row;
  }
  .explicacion-login,
  .login-section {
    width: 50%;
    height: 100vh;
    padding: 0;
  }
  .explicacion-login img {
    width: 100%;
    margin-top: 100px;
  }
  .login-form {
    width: 50%;
  }
}
/*Registro Exitoso*/
.registro_exitoso {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 40px;
  padding: 50px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 2px 2px 10px gray;
  width: 50%;
  text-align: center;
}

.registro_exitoso h1 {
  font-weight: 900;
  color: #44969b;
}

.registro_exitoso button {
  padding: 10px;
  color: white;
  background-color: #a5e2e4;
  border: none;
  border-radius: 5px;
  font-weight: 800;
  box-shadow: 2px 2px 10px gray;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}

.registro_exitoso button:hover {
  background-color: #30787a;
}

.presentacion {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch; /* Hacer que los elementos se estiren para ocupar toda la altura */
}

.bienvenida {
  background-color: white;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.bienvenida h1 {
  margin-bottom: 30px;
  color: var(--primary-color);
}

.bienvenida h4,
.bienvenida ul {
  list-style: none;
  font-weight: 500;
}

.bienvenida ul li {
  padding: 10px;
}

.bienvenida ul li strong {
  color: var(--primary-color);
}

.bienvenida-ingreso {
  width: 100%;
  background-color: #a9d0d1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1; /* Hacer que este elemento crezca para ocupar todo el espacio disponible */
  padding: 20px;
  gap: 20px;
}

.bienvenida-ingreso img {
  width: 100px;
  border-radius: 100px;
}

.bienvenida-ingreso h3 {
  font-weight: 800;
  color: white;
}

.bienvenida-ingreso ul {
  list-style: none;
}

.bienvenida-ingreso ul li {
  font-weight: 420;
  padding: 2px;
}

#empezar_examen {
  background-color: var(--secundary-color);
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  color: black;
  box-shadow: 1px 1px 10px gray;
}

#empezar_examen:hover {
  cursor: pointer;
  background-color: rgb(97, 148, 107);
  color: white;
}

.body-examen {
  background-color: var(--primary-color);
}

.examen {
  display: flex;
  flex-direction: column;
  padding: 30px;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.examen img {
  width: 50%;
}
.examen input {
  padding: 15px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}
.examen button {
  background-color: rgb(81, 138, 104);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  transition: 0.3s all ease-in-out;
}
.examen button:hover {
  background-color: rgb(34, 57, 78);
  color: white;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
